.hero .hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero .hero-content h2 {
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #4a4a4a;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #4a4a4a;
  text-align: left;
}

table th {
  background-color: #3b1919;
  color: #fff;
}

table td img {
  max-width: 100px;
  height: auto;
}